body {
  background-color: goldenrod;
  margin: 0;
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}

#pantalla-inicio {

margin: 30px;
flex-direction: column;
}

#pantalla-inicio img{
  width: 80%;
}


#start-buton {
  background-color: rgb(9, 80, 9);
  color: white;
  padding: 50px;
  font-size: 50px;
  margin-top: 50px;
  border-radius: 20px;
  position:absolute;
  cursor: pointer; 
}


#caja-de-juego {
  position: relative;
  display: flex;
  justify-content: center;
  width: 600px;
  height: 400px;
  overflow: hidden;
  user-select: none; 
  overflow: hidden; /*previene que los elementos salgan de la pantalla */
  position: relative;
  user-select: none;
  background-image: url("../images/pantalla-de-juego.jpg");
  background-position: center;
  background-size: cover; 
}


  #pantalla-juego, #pantalla-final{
    display: none;
  }