body {
  background-color: goldenrod;
  margin: 0;
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#pantalla-inicio {
  margin: 30px;
  flex-direction: column;
  font-style: unset;
  font-size: -webkit-xxx-large;
  font-family: fantasy;
}

#pantalla-inicio img {
  width: 80%;
}

#start-button {
  background-color: rgb(9, 80, 9);
  color: white;
  padding: 50px;
  font-size: 50px;
  margin-top: 50px;
  border-radius: 20px;
  position: absolute;
  cursor: pointer;
  font-family: fantasy;
  font-style: unset;
}

#pantalla-juego {
  flex-direction: column;
  margin: 30px;
  position: relative;
  width: 100%;
}

#pantalla-juego img {
  width: 80%;
}
#caja-de-juego {
  /* position: relative; */
  display: flex;
  justify-content: center;
  width: 350px;
  height: auto;
  overflow: hidden;
  user-select: none;
  overflow: hidden; /*previene que los elementos salgan de la pantalla */
  position: absolute;
  bottom: 0;
  user-select: none;
  background-image: url("../images/pantalla-de-juego.jpg");
  background-position: center;
  background-size: cover;
}

#pantalla-juego,
#pantalla-final {
  display: none;
}
